<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<style type="text/css">
	


</style>


<div id="app">
	
	<p v-if="logado">Usuário Logado: {{ nome }} </p> <!-- Quando logado for verdadeiro e anonimo for falso essa mensagem ira aparecer-->
	<p v-else-if="anonimo">Navegando como Anônimo</p> <!-- Quando logado for falso e anonimo for verdadeiro essa mensagem ira aparecer-->
	<p v-else>Nenhum usuário logado</p>
	<button @click="logado = !logado">
		{{ logado ? 'Sair' : 'Entrar' }}
	</button>
	<input type="checkbox" v-model="anonimo">
</div>


<script type="text/javascript">
	
	new Vue({
		el: '#app',
		data: {
			nome: 'Maria',
			logado: false,
			anonimo:true
		},
		computed: {},
		methods: {}
	})

</script>