<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<style type="text/css"></style>

<div id="app">

	<ul>
		<li>
			<div v-for="(pessoa, index) in pessoas"> <!-- pessoa foi criado em v-for para pegar dados individuais da lista pessoas -->
				{{ pessoa.nome }} - {{index}}
				<div v-for="(valor, chave, index) in pessoa">
					{{ chave }} = {{ valor }} ({{ index + 1 }}) <!-- valor pega o valor dentro da variavel, chave pega o nome da variavel e index pega a numeração referente a cada uma -->
				</div>
			</div>
		</li>
	</ul>
	<span v-for="n in 10"> {{ n }} </span>
</div>

<script type="text/javascript">
	
	new Vue({
		el: '#app',
		data: {
			pessoas: [
				{nome: 'Ana', idade: 26, peso: 59},
				{nome: 'Guilherme', idade: 22, peso: 89}
			]
		},
		computed: {},
		methods: {}
	})

</script>

<style type="text/css">

	h1, p{
		display: inline;
	}

</style>