<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<style type="text/css">
	


</style>

<div id="app">
	
	<p v-if="logado">Usuário Logado: {{nome}} </p> <!-- v-if que reage a variavel logado -->
	<p v-if="!logado">Nenhum usuário logado</p> <!-- reage a resposta negativa de logado -->
	<button @click="logado = !logado">
		{{ logado ? 'Sair' : 'Entrar' }}
	</button>

</div>

<script type="text/javascript">
	
	new Vue({
		el: '#app',
		data: {
			nome: 'Maria',
			logado: false
		},
		computed: {},
		methods: {}
	})

</script>